@model  Mvc.Models.DTO.addBookDTO
@{
    var ListAuthor = ViewBag.listAuthor;
    var ListPublisher = ViewBag.listPublisher;
}

<form asp-controller="Books" asp-action="addBook" method="POST">
<label>Title</label>
    <input type="text" name="title" asp-for="Title" /><span asp-validation-for="Title" class="text-danger"></span><br />
<label>Description</label>
<input type="text" name="description" asp-for="description" /><br />
    <label>IsRead</label><input type="radio" name="isRead" asp-for="IsRead" value="True" /> Yes <input type="radio" name="isRead" asp-For="IsRead" value="False" /> No<br />
<label>DateRead</label><input type="date" name="dateRead" asp-for="dateRead" /><br />
<label>Rate</label><input type="number" name="rate" asp-for="rate" /><br />
<label>Genre</label><input type="text" name="genre" asp-for="genre" /><br />
<label>Cover Url</label><input type="text" name="coverUrl" asp-for="coverUrl" /><br />
<label>DateAdded:</label><input type="date" name="dateAdded" asp-for="dateAdded" /><br />
<label>Publisher: </label>
<select name="publisherID">
@foreach (var item in ListPublisher){
        <option value="@item.Id">@item.Name</option>
}
</select>
<label>Author:</label> 
<select name="authorIds" multiple> 
    @foreach (var item in ListAuthor){
            <option value="@item.Id">@item.FullName</option>
        }
</select>
<input type="submit" />
</form>